xsd/package_format3.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="package_common.xsd"/>

  <xs:complexType name="ConditionalType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="condition" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="[$A-Za-z0-9_\s&lt;&gt;!=()-]*"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DependencyType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <!-- The dependency must have a version less than the specified limit. -->
        <xs:attribute name="version_lt" type="VersionLimitType" use="optional"/>
        <!-- The dependency must have a version less than or equal to the specified limit. -->
        <xs:attribute name="version_lte" type="VersionLimitType" use="optional"/>
        <!-- The dependency must have a version equal to the specified limit. -->
        <xs:attribute name="version_eq" type="VersionLimitType" use="optional"/>
        <!-- The dependency must have a version greater than or equal to the specified limit. -->
        <xs:attribute name="version_gte" type="VersionLimitType" use="optional"/>
        <!-- The dependency must have a version greater than the specified limit. -->
        <xs:attribute name="version_gt" type="VersionLimitType" use="optional"/>
        <xs:attribute name="condition" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="[$A-Za-z0-9_\s&quot;'&lt;&gt;!=()-]*"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="LicenseType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="file" type="xs:token" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="VersionWithOptionalCompatibilityType">
    <xs:simpleContent>
      <xs:extension base="VersionType">
        <xs:attribute name="compatibility" type="VersionLimitType" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="package">
    <xs:annotation>
      <xs:documentation>
        Specified in REP 149 (see http://www.ros.org/reps/rep-0149.html).
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              The package name must start with a letter and contain only
              lowercase alphabetic, numeric, or underscore characters.
              The package name should be unique within the ROS community.
              It may differ from the folder name into which it is checked out,
              but that is not recommended.

              The following recommended exemptions apply, which are optional
              for implementations:
              - Dashes may be permitted in package names. This is to support
                maintaining a consistent dependency name when transitioning back
                and forth between a system dependency and in-workspace package,
                since many rosdep keys contain dashes (inherited from the
                Debian/Ubuntu name).
              - In support of some legacy packages, capital letters may also be
                accepted in the package name, with a validation warning.
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="[a-zA-Z]([_-]?[0-9a-zA-Z]+)*"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="version" type="VersionType" minOccurs="1" maxOccurs="1"/>
        <xs:element name="description" type="DescriptionType" minOccurs="1" maxOccurs="1"/>
        <xs:element name="maintainer" type="PersonWithEmailType" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element name="license" type="LicenseType" minOccurs="1" maxOccurs="unbounded"/>

        <xs:element name="url" type="UrlType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="author" type="PersonWithOptionalEmailType" minOccurs="0" maxOccurs="unbounded"/>

        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element type="DependencyType" name="build_depend"/>
          <xs:element type="DependencyType" name="build_export_depend"/>
          <xs:element type="DependencyType" name="buildtool_depend"/>
          <xs:element type="DependencyType" name="buildtool_export_depend"/>
          <xs:element type="DependencyType" name="exec_depend"/>
          <xs:element type="DependencyType" name="depend"/>
          <xs:element type="DependencyType" name="doc_depend"/>
          <xs:element type="DependencyType" name="test_depend"/>
          <xs:element type="DependencyType" name="conflict"/>
          <xs:element type="DependencyType" name="replace"/>
        </xs:choice>

        <xs:element name="group_depend" type="ConditionalType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="member_of_group" type="ConditionalType" minOccurs="0" maxOccurs="unbounded"/>

        <xs:element name="export" type="ExportType" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="format" fixed="3" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
